.parent{   
    display: flex;
    justify-content: space-between;
}
.parent div{
    width: 150px;
    height: 150px;
    background-color: #92d61d;
}
@media only screen and(min-width: 180px) {
    body{
        background-color: aqua;
    }
}